---
import Layout from '../../layouts/Layout.astro';
import D1 from '../../designs/design1/ServiceDetail.astro';
import D2 from '../../designs/design2/ServiceDetail.astro';
import D3 from '../../designs/design3/ServiceDetail.astro';
import D4 from '../../designs/design4/ServiceDetail.astro';
const lang = 'en';
---

<Layout title="Customer Service - Paricus" description="Deliver exceptional customer experiences with our dedicated bilingual support teams." lang={lang} currentPath="/services/customer-service">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
  <div data-design="4" style="display:none;"><D4 lang={lang} /></div>
</Layout>
