---
import Layout from '../layouts/Layout.astro';
import D1 from '../designs/design1/CareersList.astro';
import D2 from '../designs/design2/CareersList.astro';
import D3 from '../designs/design3/CareersList.astro';
import D4 from '../designs/design4/CareersList.astro';
const lang = 'en';
---

<Layout title="Careers - Paricus" description="Be part of a company that values growth, innovation, and work-life balance." lang={lang} currentPath="/careers">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
  <div data-design="4" style="display:none;"><D4 lang={lang} /></div>
</Layout>
