---
import Layout from '../layouts/Layout.astro';
import D1 from '../designs/design1/CaseStudiesList.astro';
import D2 from '../designs/design2/CaseStudiesList.astro';
import D3 from '../designs/design3/CaseStudiesList.astro';
import D4 from '../designs/design4/CaseStudiesList.astro';
const lang = 'en';
---

<Layout title="Case Studies - Paricus" description="Real success stories demonstrating our commitment to delivering measurable impact." lang={lang} currentPath="/case-studies">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
  <div data-design="4" style="display:none;"><D4 lang={lang} /></div>
</Layout>
