---
import Layout from '../layouts/Layout.astro';
import D1 from '../designs/design1/Industries.astro';
import D2 from '../designs/design2/Industries.astro';
import D3 from '../designs/design3/Industries.astro';
import D4 from '../designs/design4/Industries.astro';
const lang = 'en';
---

<Layout title="Industries - Paricus" description="Specialized expertise across diverse sectors, delivering tailored solutions." lang={lang} currentPath="/industries">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
  <div data-design="4" style="display:none;"><D4 lang={lang} /></div>
</Layout>
