---
import Layout from '../../layouts/Layout.astro';
import D1 from '../../designs/design1/About.astro';
import D2 from '../../designs/design2/About.astro';
import D3 from '../../designs/design3/About.astro';
import D4 from '../../designs/design4/About.astro';
const lang = 'es';
---

<Layout title="Nosotros - Paricus" description="Paricus combina la calidez de una verdadera asociacion con la confianza de una profunda experiencia." lang={lang} currentPath="/es/about">
  <div data-design="1"><D1 lang={lang} /></div>
  <div data-design="2" style="display:none;"><D2 lang={lang} /></div>
  <div data-design="3" style="display:none;"><D3 lang={lang} /></div>
  <div data-design="4" style="display:none;"><D4 lang={lang} /></div>
</Layout>
